
<h1>Випробування API: Order</h1>
<table>
    <thead>
        <tr>
            <th>Метод</th>
            <th>Результат</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <button id="api-order-get-btn">GET</button>
            </td>
            <td id="api-order-get-result"></td>
        </tr>
        <tr>
            <td>
                <button id="api-order-post-btn">POST</button>
            </td>
            <td id="api-order-post-result"></td>
        </tr>
        <tr>
            <td>
                <button id="api-order-put-btn">PUT</button>
            </td>
            <td id="api-order-put-result"></td>
        </tr>
        <tr>
            <td>
                <button id="api-order-patch-btn">PATCH</button>
            </td>
            <td id="api-order-patch-result"></td>
        </tr>
        <tr>
            <td>
                <button id="api-order-delete-btn">DELETE</button>
            </td>
            <td id="api-order-delete-result"></td>
        </tr>
    </tbody>
</table>