<h1>Випробування API: User</h1>
<table>
    <thead>
        <tr>
            <th>Метод</th>
            <th>Результат</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <button id="api-user-get-btn">GET User</button>
            </td>
            <td id="api-user-get-result"></td>
        </tr>
        <tr>
            <td>
                <button id="api-user-post-btn">POST User</button>
            </td>
            <td id="api-user-post-result"></td>
        </tr>
        <tr>
            <td>
                <button id="api-discount-get-btn">GET Discount</button>
            </td>
            <td id="api-discount-get-result"></td>
        </tr>
        <tr>
            <td>
                <button id="api-401-missing-header-btn">GET Missing header button</button>
            </td>
            <td id="api-missing-header-result"></td>
        </tr>
        <tr>
            <td>
                <button id="api-401-incorrect-scheme-btn">GET Incorrect scheme button</button>
            </td>
            <td id="api-incorrect-scheme-result"></td>
        </tr>
        <tr>
            <td>
                <button id="api-401-short-credentials-btn">GET Short credentials button</button>
            </td>
            <td id="api-short-credentials-result"></td>
        </tr>
                <tr>
            <td>
                <button id="api-401-malformed-credentials-btn">GET Malformed credentials button</button>
            </td>
            <td id="api-malformed-credentials-result"></td>
        </tr>
        
    </tbody>
</table>

<p id="token"></p>
<p id="token-payload"></p>
<p id="token-header"></p>
