<h1>Випробування API: User</h1>
<table>
    <thead>
        <tr>
            <th>Метод</th>
            <th>Результат</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <button id="api-user-get-btn">GET</button>
            </td>
            <td id="api-user-get-result"></td>
        </tr>
        <tr>
            <td>
                <button id="api-user-post-btn">POST</button>
            </td>
            <td id="api-user-post-result"></td>
        </tr>
        <tr>
            <td>
                <button id="api-user-put-btn">PUT</button>
            </td>
            <td id="api-user-put-result"></td>
        </tr>
        <tr>
            <td>
                <button id="api-user-patch-btn">PATCH</button>
            </td>
            <td id="api-user-patch-result"></td>
        </tr>
        <tr>
            <td>
                <button id="api-user-delete-btn">DELETE</button>
            </td>
            <td id="api-user-delete-result"></td>
        </tr>
    </tbody>
</table>